/*
/.**

### not ignore ###
!.zshrc

### files
!brew_files

!.idea
!.ideavimrc
!.tmux.conf

!.config/
.config/**
!Jetbrains
!iterm2
!install.sh
!install_brew.sh
!new_window_template.sh
output_brew_files.sh